{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My AWESOME CART</h1>
      <p>Flipkart is an Indian e-commerce company, headquartered in Bangalore, Karnataka, India, and incorporated in Singapore as a private limited company.[6] The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products</p>
      <p></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Type of site E-commerce</h2>
        <p>
Available in	English, Hindi, Bengali, Kannada, Tamil, Telugu, Marathi, Malayalam, Odiya, Punjabi, Gujarati, Assamese[1]
Founded	2007; 14 years ago </p>
        <p></p>
      </div>
      <div class="col-md-4">
        <h2>Founded Headquarters</h2>
        <p>2007; 14 years ago
Headquarters	Bangalore, Karnataka, India (operational headquarters)
12°56′00″N 77°41′40″ECoordinates: 12°56′00″N 77°41′40″E
Singapore (legal domicile)</p>

      </div>
      <div class="col-md-4">
        <h2>Founder(s)</h2>
        <p>Sachin Bansal</p>
        <p>Binny Bansal</p>

      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>


{% endblock %}